<h1 ng-controller='fullListCtrl'>List of Nearby Basketball Courts in {{cityCourts}}</h1>
<form>
  <input class='citySearch' ng-model='cityCourts' placeholder='Enter City'>
  <button class='btn btn-primary' ng-click='getList(cityCourts)'>Search Outdoor Courts</button>
</form>



<div ng-repeat='court in getList.items track by $index' class='col-sm-3'>
  <div class='pic'>
    <a target='_blank' href={{court.url}}>
      <img ng-src="{{court.image_url || 'http://ep.yimg.com/ay/yhst-135042093248474/golden-state-warriors-logo-pin-4.jpg'}}" />
    </a>
  </div>
  <div class='info'>
    <a target='_blank' href={{court.url}}>
      {{court.name}}
    </a>
    <span class='courtInfo'>
      <br> 
      {{court.location.address[0]}} 
      {{court.location.city}} 
      {{court.location.state_code}} 
      {{court.location.postal_code}} 
      <br>
      Phone Number: <strong>{{court.display_phone}}</strong>
    </span>
    <br>
    <div class='btn btn-success' ng-click='putInFavorites(court)'>Add to Favorites</div>
  </div>
</div>















