<h1 ng-controller='fullListCtrl'>List of Nearby Basketball Courts in {{cityCourts}}</h1>

<form>
  <input class='citySearch' ng-model='cityCourts' placeholder='Enter City'>
  <button class='btn btn-primary' ng-click='getListIndoor(cityCourts)'>Search Indoor Courts</button>
</form>



<div ng-repeat='indoor in getListIndoor.items track by $index' class='col-sm-3'>
  <div class='pic'>
    <a target='_blank' href={{indoor.url}}>
      <img ng-src="{{indoor.image_url || 'http://ep.yimg.com/ay/yhst-135042093248474/golden-state-warriors-logo-pin-4.jpg'}}" />
    </a>
  </div>
  <div class='info'>
    <a target='_blank' href={{indoor.url}}>
      {{indoor.name}}
    </a>
    <span class='courtInfo'>
      <br> 
      {{indoor.location.address[0]}} 
      {{indoor.location.city}} 
      {{indoor.location.state_code}} 
      {{indoor.location.postal_code}} 
      <br>
      Phone Number: <strong>{{indoor.display_phone}}</strong>
    </span>
    <br>
    <div class='btn btn-success' ng-click='putInFavorites(indoor)'>Add to Favorites</div>
  </div>
</div>





<!-- <ul>
  <li ng-repeat='indoor in getListIndoor.items track by $index'><a href={{indoor.url}}>{{indoor.name}}</a> <button class='btn btn-primary' ng-click='putInFavorites(indoor)'>Save To Favorites</button> <span class='courtInfo'><br> {{indoor.location.address[0]}} {{indoor.location.city}} {{indoor.location.state_code}} {{indoor.location.postal_code}} <br>Phone Number: <strong>{{indoor.display_phone}}</strong></span></li>
</ul> -->